{% set table_style = 'font-family: verdana,arial,sans-serif; font-size:11px; color:#333333; border-width: 1px; border-color: #666666; border-collapse: collapse;' %}
{% set th_style = 'border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede;' %}
{% set td_style = 'border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;' %}

<center>
	<table style='width: 90%;' cellpadding="0" cellspacing="0" border="0" style="{{ table_style }}">
		<tr>
			<td style="{{ th_style }}">Rede de Relacionamentos</td>
		</tr>
		<tr>
			<td style="{{ td_style }}">
				<img src="data:image/png;base64,{{ chart }}"/>
			</td>
		</tr>
	</table>
</center>
<p></p>