
<br><br>
<div class="form-group center">
	<div class="col-sm-4 col-sm-offset-3">
		<label>Por favor, aguarde. O relatório está sendo carregado...</label>
		<div class="progress progress-striped active">
			<div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			</div>
		</div>
	</div>
</div>


<!-- Ajusta os itens de navegação -->
<script>
	// Botão voltar
	$(".btn-prev").addClass("hidden");
	// Botão avançar
	$(".btn-next").addClass("hidden");
	// Botão gerar
	$(".btn-run").addClass("hidden");
</script>